.text-align-center {
    text-align: center;
}

code {
    background: $dark;
    color: $light;
    white-space: pre;
    padding: 2rem;
    font-size: 1.2rem;
    display: block;
    &.base {
        white-space: normal;
    }
}
em {
    background: #ffff6d;
    font-style: normal;
}
.result {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 2px dashed $base;
}


hr {
    border: 0;
    border-bottom: 2px dashed $base;
    margin: 6rem 0;
}